@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oleo+Script:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    
    width: 100%;
    height: 100vh;
    background-color: #F5F5F5;
    
}

.container h2{
    padding-top: 5px;
    margin-bottom: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;

}

.first{
    
    width: 100%;
    height: 60vh;
    display: grid;
    justify-content: center;
    align-items: center;
 
    
}

table{
    width: 100%;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
   
    background-color: #fff;
    border-radius: 12px;
    max-width: 400px;

}

.input input,select{
    height: 32px;
    width: 400px;
    padding-left: 10px;
    outline: none;
    

}
.input{
    margin-left: 50px;
    height: 47px;
    outline: none;
}
#gender{
    width: 3%;
    margin-right: 6px;
    margin-top: 15px;
}
span{
    margin-right: 10px;
}
label{
    display: block;
    margin-right: 30px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
}

.btn{
    padding: 10px 20px;
}
.button{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 40px;
    border: none;
    background-color: #ca4c4c;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #B71C1C;
}

#Bgroup{
    height: 30px;
    width: 413px;
}

.nav img{
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
}





   




